* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #111;
  color: white;
}
main {
  width: 100%;
  height: 100%;
  /* background-color: #111; */
  padding: 20px;
}
section {
  width: 380px;
  height: 100%;
  background-color: aqua;
  border-radius: 10px;
  margin: auto;
  /* overflow: hidden; */
}
.all-reels {
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.all-reels::-webkit-scrollbar{
  display: none;
}
.reels {
  width: 100%;
  height: 100%;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.reels video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bottom {
  padding: 30px 20px;
  position: absolute;
  /* background-color: black; */
  bottom: 0;
  width: 100%;
   background: linear-gradient(rgba(0,0,0,0), black);
   height: 120px;
   /* gap: 29px; */

}
.bottom #user{
  height: 30px;
  width: auto;
  border-radius: 25px;
  position: absolute;

  /* ADD THESE 3 LINES */
  display: flex;
  align-items: center;
  gap: 20px;
  /* padding-bottom: 100px; */
}

#user img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}
#user h4{
  color: white;
  font-size: 20px;
  
}
#user button{
  background-color: transparent;
  padding: 4px;
  border: none;
  border-radius: 7px 7px;
  color: white;
  border: 2px solid white;
}

.description{
  color: white;
  margin-top: 20px;
  margin-top: 40px;   /* pushes text below user */
}
.right{
  width: 40px;
  position: absolute;
  right: 0;
  bottom: 10%;
  padding: 30px;
  /* transform: translate(100%); */
  display:flex ;
  flex-direction: column;
  gap: 25px;
  text-align: center;

}
.right i{
  font-size: 30px;
}
.right h4{
  cursor: pointer;
}
.right h6{
  font-size: 23px;

}
.right>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.love{
  color: red;
}